body{
    border:none;
}
.navbar-toggler-icon {
    background-color: black;
}

button{  
    border: none;
}
.nav-btn{
    background-color: white;
    margin-left: 30px;
}

a{
    text-decoration: none;
    color: black;
}
.logo{
    width: 130px;
    height: 50px;
    background-color: rgb(163, 162, 162);
}

#login{
    margin-right: 30px;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    color: white;
    background-color: rgb(83, 80, 80);
    font-weight: 700;
}
#signup{
    height: 50px;
    width: 150px;
    border-radius: 8px;
    background-color: rgb(245, 239, 239);
    font-weight: 700;
}

.rating{
    position:relative;
    width: 60%;
    margin-top: 100px;
    height: 200px;
}

.checked {  
    color : yellow;  
    font-size : 40px; 
    margin-left: 10px ; 
}  
.unchecked {  
    color: rgb(155, 144, 144);
    border-color: black;
    border-width: 10px;
    margin-left: 10px ; 
}  

.txt-rating{
    font-size: 25px;
    font-weight: 700;
}

.section-1{
    margin-bottom: 60px;
}
.s1-heading{
    font-size: 230%;
    font-weight: 600;
}
.s1-txt{
    margin-left: 100px;
    margin-right: 100px;
    width: 70%;
    font-weight: 100;
}
#s1-signup-btn{
    margin-right: 30px;
    margin-top: 50px;
    height: 60px;
    width: 250px;
    border-radius: 8px;
    color: white;
    background-color: rgb(107, 103, 103);
    font-weight: 700;
    font-size: 200%;
    margin-bottom: 50px;
}
.s1-img{
    size: 50%;
    margin-top:-10px;
    margin-right: 30px;

}
.s1-bottom{
    margin-left: 300px;
    margin-right: 300px;
    font-weight: 600;
}

.section-2{
    background-color: #F9FAFC;
    padding-left: 80px;
    padding-right: 80px;
}

.s2-heading{
    font-size: 280%;
    font-weight: 800;
    text-align: center;
}
.s2-subheading{
    font-size: 150%;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
}
.s2-txt{
    width: 70%;
    font-size: 22px;
}

.section-3{
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}
.s3-1{
    margin-top: 80px;
}
.s3-1-heading{
    font-size: 280%;
    font-weight: 600;
}
.s3-1-txt{
    margin-left: 5px;
    margin-right: 100px;
    width: 70%;
    font-size: 120%;
}

.section-4{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
}
.s4-1-heading{
    font-size: 280%;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}
.s4-1-txt{
    margin-left: 5px;
    margin-right: 100px;
    width: 80%;
    font-size: 140%;
}
.s4-right{
    background-color:rgb(237, 234, 234);
    padding: 20px;
}
.form-heading{
    font-size: 200%;
    font-weight: 600;
}
.textarea{
    height: 140px;
}
input{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 60px;
    padding-top: 50px;
}

input::-webkit-input-placeholder {
    font-size: 30px;
}

.submit{
    height: 60px;
    width: 200px;
    font-size: 200%;
    background-color: rgb(207, 202, 202);
}

.section-5{
    height: 180px;
    background-color: rgb(207, 202, 202);
}
.footer{
    height: 100px;
    background-color: grey;
}